
**/.vitepress/dist
*.o
.firebase/
pip-delete-this-directory.txt
yarn-error.log*
.temp
.dmypy.json
.tern-port
storage/*.key
.stylelintcache
ipython_config.py
!.yarn/plugins
*.exp
.coverage
*.cover
yarn-debug.log*
bower_components
venv/
.tox/
.tmp_versions/
!.yarn/versions
/site
marimo/_lsp/
env/
.vite/
.vscode-test
*.aof
.cache
*.elf
.abstra/
*.py.cover
*.manifest
dist/
.Python
env.bak/
node_modules/
.dynamodb/
.pytest_cache/
htmlcov/
*.so.*
.pytype/
*.py[codz]
.svelte-kit/
*.su
vite.config.ts.timestamp-*
lib64/
.pdm-python
.scrapy
.eggs/
*.lo
*.pot
jspm_packages/
.next
target
cover/
__pypackages__/
celerybeat.pid
.installed.cfg
.venv
*.i*86
.nuxt
*.pch
Homestead.json
*.x86_64
.ropeproject
/.vagrant
out
*.spec
yarn-error.log
*.lcov
*.pid.lock
*.d
*.mod
.ipynb_checkpoints
.streamlit/secrets.toml
npm-debug.log*
logs
.fusebox/
*.cmd
.cache/
*.dylib
.pypirc
*.lib
*.dwo
*.ko
*.idb
.npm
nosetests.xml
docs/_build/
vite.config.js.timestamp-*
.yarn/*
lib-cov
*.egg
.output
.env.production
.spyderproject
app/storage/
db.sqlite3-journal
*.la
*.mo
*$py.class
.docusaurus
debug
npm-debug.log
wheels/
.phpunit.result.cache
!.yarn/patches
profile_default/
.lock-wscript
/public/build
build/Release
*.tgz
local_settings.py
parts/
share/python-wheels/
eggs/
.ruff_cache/
coverage.xml
.serverless/
.env.backup
*.rdb
mnesia/
*.gch
cython_debug/
MANIFEST
db.sqlite3
*.tsbuildinfo
.pdm-build/
celerybeat-schedule
pids
web_modules/
.pybuilder/
*.slo
/storage/pail
*.a
*.ilk
!.env.example
marimo/_static/
Module.symvers
.parcel-cache
dist
.envrc
dkms.conf
instance/
rabbitmq/
**/*.rs.bk
*.out
activemq-data/
.mypy_cache/
.pyre/
.env
target/
/vendor/
.eslintcache
.env.*
!.yarn/releases
.vuepress/dist
**/mutants.out*/
*.exe
.node_repl_history
dmypy.json
*.so
!.yarn/sdks
.nyc_output
*.mod*
auth.json
composer.phar
*.map
*.sage.py
downloads/
var/
*.pdb
.coverage.*
pip-log.txt
Homestead.yaml
develop-eggs/
sdist/
__pycache__/
ENV/
**/.vitepress/cache
*.seed
*.egg-info/
*.app
.yarn-integrity
lib/
.pnp.*
.spyproject
Mkfile.old
*.obj
coverage
.nox/
rabbitmq-data/
*.lai
modules.order
__marimo__/
venv.bak/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.hex
*.dll
bootstrap/compiled.php
.hypothesis/
*.log
build/
.pixi
*.smod
public/storage
*.pid
lerna-debug.log*
.webassets-cache
public/hot
.phpactor.json
*.dSYM/
.grunt
public_html/storage
public_html/hot
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,GitBook,GitHubPages,c,cmake,c++,rust,composer,laravel` for https://github.com/SilesiaMakerSpace/sms-street-sign.git with  [UNIXUSAT=1765841018579]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
